<div  id = "current_tab">
  <ul class="nav nav-tabs">
      <li role="presentation"><%= link_to 'Need Reviewing', show_needs_reviewing_path(:track_id => @track.id), :remote => true %></li>
      <li role="presentation" class="active"><%= link_to 'Reviewed', show_reviewed_path(:track_id => @track.id), :remote => true %></li>
      <li role="presentation"><%= link_to 'Accepted', show_accepted_path(:track_id => @track.id), :remote => true %></li>
      <li role="presentation"><%= link_to 'Users', show_users_path(:track_id => @track.id), :remote => true %></li>
  </ul>
  <div class="container">
    <%if @track.papers.any? {|p| p.reviews.size > 3 } %>
    <h3 style="color:#428bca;">Reviewed:</h3>
    <table class="table table-hover">
      <th><h4>Title</h4></th>
      <th><h4>Author</h4></th>
      <% @papers.each do |paper| %>
        <% if paper.reviews.size > 2 && paper.accepted.equal?(false)  %>
          <tr class="clickable" data-link="<%= paper_path(paper)  %>" class="<%= cycle('list_line_odd', 'list_line_even') %>">
            <td class="list_description">
              <dl>
                <dt><%= paper.title %></dt>
              </dl>
            </td>
            <td class="list_description">
              <dl>
                <dt><%= paper.author %></dt>
              </dl>
            </td>
            <td class="list_actions">

            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <%else%>
      <H3 style="color:#ff4d4d;"> No papers have been reviewed </H3>
    <%end%>

  </div>
</div>