<div class="container">
    <p>
    <strong>Name:</strong>
    <%= @track.name %>
    </p>

    <p>
    <strong>Acronym:</strong>
    <%= @track.acronym %>
    </p>
</div>
<div class="container">
    <H1>Users</H1>
    <table>
        <% @users.each do |user| %>
            <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
                <td class="list_description">
                    <dl>
                        <dt><%= user.name %></dt>
                    </dl>
                </td>   
            </tr>
        <% end %>
    </table>
</div>
<div class="container">
    <%= link_to 'Edit', edit_track_path(@track) %> |
    <%= link_to 'Back', @conference %>
</div>
