<% @user = current_user %>

<div class="container">
  <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-6">
          <h1><%= @conference.acronym %></h1>
          <h3>Chair: <%= @conference.user.name %></h3>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<div class="col-md-9">
  <div class="container">
    <h2> <%= @track.name %> Track </h2>
  </div>
</div>

<div class="col-md-9">
  <div id = "current_tab">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><%= link_to 'Need Reviewing', show_needs_reviewing_path(:track_id => @track.id), :remote => true %></li>
      <li role="presentation"><%= link_to 'Reviewed', show_reviewed_path(:track_id => @track.id), :remote => true %></li>
      <li role="presentation"><%= link_to 'Accepted', show_accepted_path(:track_id => @track.id), :remote => true %></li>
      <li role="presentation"><%= link_to 'Users', show_users_path(:track_id => @track.id), :remote => true %></li>
    </ul>
    <div class="container">
      <%if @papers.size >= 1%>
        <h3>Needs Reviewing:</h3>
        <table class="table table-hover">
          <th><h4>Title</h4></th>
          <th><h4>Author</h4></th>
          <% @papers.each do |paper| %>
            <% if paper.reviews.size < 3 and paper.accepted.equal?(false) %>
            <tr class="clickable" data-link="<%= paper_path(paper) %>"  class="<%= cycle('list_line_odd', 'list_line_even') %>">
              <td class="list_description">
                <dl>
                  <dt><%= paper.title %></dt>
                </dl>
              </td>
              <td class="list_description">
                <dl>
                <dt><%= paper.author %></dt>
                </dl>
              </td>

            </tr>
            <% end %>
          <% end %>

        </table>
      <%else%>
        <H3> No papers currently need reviewing</H3>
      <%end%>
    </div>
  </div>
  </br>
  <div class="container">
    <%if @current_user_role == "Chair" || @current_user_role == "Track Chair" %>
      <%= link_to 'Invite User', new_request_path(track_id: @track), :class => "btn btn-primary btn-md active" %>
    <%end%>
    <%if @current_user_role == "Chair" %>
      <%= link_to 'Edit Track', edit_track_path(@track), :class => "btn btn-primary btn-md active" %>
    <%end%>
  </div>
</div>
