<div class="container">
  <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
              <h1><%= @conference.name %></h1> 
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 col-md-offset-5">
            <h4><%= @conference.acronym %></h4> 
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<div class="container">
    <h2> <%= @track.name %> Track </h2>
</div>
<div class="container">
    <H3>Users</H3>
    <table class="table table-hover">

        <% @user_roles.each do |user_role| %>
            <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
                <td class="list_description">
                    <dl>
                        <dt><%= user_role.user.name %></dt>
                    </dl>
                </td>  
                <td class="list_description">
                    <dl>
                        <dt><%= user_role.role %></dt>
                    </dl>
                </td>  
                <td class="list_actions">
                    <%= link_to 'Edit', edit_user_role_path(user_role) %> | 
                    <%= link_to 'Destroy', user_role, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td> 
            </tr>
        <% end %>
    </table>
</div>
<div class="container">
    <%= link_to 'Add User', new_user_role_path(track_id: @track), :class => "btn btn-primary btn-md active" %>
    <%= link_to 'Edit', edit_track_path(@track), :class => "btn btn-primary btn-md active" %>
    <%= link_to 'Back', @conference, :class => "btn btn-primary btn-md active"%>
</div>
