<!-- Tab 3 -->
<div id = "current_tab">
  <ul class="nav nav-tabs">
    <li role="presentation"><%= link_to 'Joined', show_joined_path, :remote => true %></li>
    <li role="presentation"><%= link_to 'Owned', show_owned_path, :remote => true %></li>
    <li role="presentation"  class="active"><%= link_to 'Contributed', show_contributed_path, :remote => true %></li>
    <li role="presentation"><%= link_to 'Contacts', show_contacts_path, :remote => true %></li>
  </ul>
  <div>
    <%if !@user.papers.empty?%>
      <H3>Your Contributions </H3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Conference</th>
            <th>Track</th>
            <th>Title</th>
            <th>Status</th>

          </tr>
        </thead>
        <tbody>
          <% @user.papers.each do |paper| %>
          <tr class="clickable" data-link="<%= paper_path(paper) %>">
            <td><%= paper.track.conference.name %></td>
            <td><%= paper.track.name %></td>
            <td><%= paper.title %></td>
            <% if paper.accepted %>
            <td><span  class="glyphicon glyphicon-ok accepted"></span></td>
            <% else %>
            <td><span  class="glyphicon glyphicon-minus pending"></span></td>
            <% end %>

          </tr>
          <% end %>
        </tbody>
      </table>
    <%else%>
      <H3> You haven't made any contributions </H3>
    <%end%>
  </div>
</div>
