<!-- Tab 4 -->
<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to 'Joined', show_joined_path, :remote => true %></li>
  <li role="presentation"><%= link_to 'Owned', show_owned_path, :remote => true %></li>
  <li role="presentation"><%= link_to 'Contributed', show_contributed_path, :remote => true %></li>
  <li role="presentation"  class="active"><%= link_to 'Contacts', show_contacts_path, :remote => true %></li>
</ul>

<div id = "current_tab">
    <div>
      <%if !@user.connections.empty? %>
        <H3> Contacts </H3>
        <table class="table table-hover">
          <tbody>
            <% for connection in @user.connections do %>
            <tr class="clickable" data-link="/users/<%=connection.contact.id%>">
              <td><img src="<%=connection.contact.profpic_url%>" width="50" height="50" alt=""></td>
              <td><%= connection.contact.username %></td>
              <td><%= link_to "Remove Contact", connection, :method => :delete, :class => "btn btn-danger btn-xs active" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <%else%>
        <H3> You don't have any contacts yet! </H3>
      <%end%>
    </div>
</div
