<div  id = "current_tab">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><%= link_to 'Joined', show_joined_path, :remote => true %></li>
    <li role="presentation"><%= link_to 'Owned', show_owned_path, :remote => true %></li>
    <li role="presentation"><%= link_to 'Contributed', show_contributed_path, :remote => true %></li>
    <li role="presentation"><%= link_to 'Contacts', show_contacts_path, :remote => true %></li>
  </ul>
  <div class="container">
    <%if !@user_roles.empty?%>
      <H3>Conferences You Joined </H3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Conference</th>
            <th>Track</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <% @user_roles.each do |user_role| %>
          <tr class="clickable" data-link="/tracks/<%=user_role.track.id%>">
            <td><%= user_role.track.conference.name %></td>
            <td><%= user_role.track.name %></td>
            <td><%= user_role.role %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <%else%>
      <H3> You haven't joined any Conferences </H3>
    <%end%>
    </div>
</div>
