<div class="container">
  <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
              <h1>Hello <%= @user.name %></h1> 
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<div class="container">
    <%if !@user_roles.empty?%>
        <H3>Conferences You Joined </H3>
        <table class="table table-hover">

            <% @user_roles.each do |user_role| %>
                <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
                    <td class="list_description">
                        <dl>
                            <dt><%= user_role.track.conference.name%></dt>
                        </dl>
                    </td>  
                    <td class="list_description">
                        <dl>
                            <dt><%= user_role.track.name %></dt>
                        </dl>
                    </td>  
                    <td class="list_description">
                        <dl>
                            <dt><%= user_role.role %></dt>
                        </dl>
                    </td>  
                    <td class="list_actions">
                        <%= link_to 'Go to', conference_path(user_role.track.conference) %>
                    </td> 
                </tr>
            <% end %>
        </table>
    <%end%>
</div>

<div class="container">
    <%if !@user.conferences.empty?%>
    <H3>Conferences You Own</H3>
    <table class="table table-hover">

        <% @user.conferences.each do |conference| %>
            <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
                <td class="list_description">
                    <dl>
                        <dt><%= conference.name%></dt>
                    </dl>
                </td>   
                <td class="list_actions">
                    <%= link_to 'Go to', conference_path(conference) %>
                </td> 
            </tr>
        <% end %>
    </table>
    <%end%>
    <%= link_to 'Start a Conference', new_conference_path,  :action => "Create", :class => "btn btn-primary btn-md active"%>
</div>
