<div class="col-md-2">
  <br />
  <div class = "well">
    <img src="<%= asset_path( 'identicon.png' ) %>" width="250" height="250" alt="">
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Info</h3>
    </div>
    <div class="panel-body">
      <h4><%=@user.username%></h4>
      <h6><span class="glyphicon glyphicon-map-marker"></span> <%=@affil%></h6>
      <h6><span class="glyphicon glyphicon-calendar"></span> Joined <%=@date%></h6>
    </div>
  </div>
</div>

<div class="col-md-9">

  <%if @user_roles.empty? && @user.conferences.empty? && @user.papers.empty?%>
      <div class="container">
          <h4>You're not involved with any conferences yet! :(</h4>
      </div>
  <%end%>
  <div>
    <%if !@user_roles.empty?%>
      <H3>Conferences You Joined </H3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Conference</th>
            <th>Track</th>
            <th>Role</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          <% @user_roles.each do |user_role| %>
          <tr>
            <td><%= user_role.track.conference.name %></td>
            <td><%= user_role.track.name %></td>
            <td><%= user_role.role %></td>
            <td><%= link_to 'Go to', track_path(user_role.track) %></td>
          </td>
          <% end %>
        </tbody>
      </table>
    <%end%>
  </div>

  <div>
    <%if !@user.conferences.empty?%>
      <H3>Conferences You Own </H3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Conference</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          <% @user.conferences.each do |conference| %>
          <tr>
            <td><%= conference.name %></td>
            <td><%= link_to 'Go to', conference_path(conference) %></td>
          </td>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Start a Conference', new_conference_path,  :action => "Create", :class => "btn btn-primary btn-sm active"%>
    <%end%>
  </div>

  <div>
    <%if !@user.conferences.empty?%>
      <H3>Your Contributions </H3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Conference</th>
            <th>Track</th>
            <th>Title</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          <% @user.papers.each do |paper| %>
          <tr>
            <td><%= paper.track.conference.name %></td>
            <td><%= paper.track.name %></td>
            <td><%= paper.title %></td>
            <td><%= link_to 'Go to', paper_path(paper) %></td>
          </td>
          <% end %>
        </tbody>
      </table>
    <%end%>
  </div>

  <h2>Your Contacts (temporary code holder)</h2>
  <ul>
    <% for connection in @user.connections %>
    <li>
      <%= connection.contact.name %>
      (<%= link_to "remove", connection, :method => :delete %>)
    </li>
    <% end %>
  </ul>
</div>

<!--
<div>
    <%if !@user.papers.empty?%>
    <H3>Your Contributions</H3>
    <table class="table table-hover">
        <% @user.papers.each do |paper| %>
            <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
                <td class="list_description">
                    <dl>
                        <dt><%= paper.title%></dt>
                    </dl>
                </td>
                <td class="list_description">
                    <dl>
                        <dt><%= paper.track.name%></dt>
                    </dl>
                </td>
                <td class="list_actions">
                    <%= link_to 'Go to', paper_path(paper) %>
                </td>
            </tr>
        <% end %>
    </table>
    <%end%>
</div>
-->
