<div class="container">
  <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
              <h1><%= @conference.name %></h1> 
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 col-md-offset-5">
            <h4><%= @conference.acronym %></h4> 
        </div>
        <div class="col-md-4"></div>
    </div>
  

</div>


<div class="container">
<H1>Tracks</H1>
<table class="table table-hover">
    <% @tracks.each do |track| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
            <td class="list_description">
                <dl>
                    <dt><%= track.name %></dt>
                    <dd><%= track.acronym %></dd>
                </dl>
            </td>
            <td class="list_actions">
                <%= link_to 'View', track %> | 
                <%= link_to 'Edit', edit_track_path(track) %> | 
                <%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
        </tr>
    <% end %>
</table>
</div>
<div class="container">
<%= link_to 'Create Track', new_track_path(conference_id: @conference),  :action => "Create", :class => "btn btn-primary btn-md active"%>
<%= link_to 'Edit Conference', edit_conference_path(@conference) , :class => "btn btn-primary btn-md active"%>
<%= link_to 'Back', conferences_path, :class => "btn btn-primary btn-md active" %>
</div>