<div class="container">
  <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
              <h1><%= @conference.name %></h1> 
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-sm-5">
        <h5> <%=@conference.description%> </h5>
    </div>
</div>

<div class="container">
<H1>Tracks</H1>
<table class="table table-hover">
    <% @tracks.each do |track| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
            <td class="list_description">
                <dl>
                    <dt><%= track.name %></dt>
                    <dd><%= track.acronym %></dd>
                </dl>
            </td>
            <td class="list_actions">
                
                <%= link_to 'View Track', track %>
                <%if user_signed_in?%>
                    <%if current_user.id == @conference.user_id%>
                        | <%= link_to "Remove Track", track, :method => :delete %>
                    <%end%>
                <%end%>
            </td>
        </tr>
    <% end %>
</table>
</div>
<div class="container">
    <%if user_signed_in?%>
        <%if current_user.id == @conference.user_id%>
            <%= link_to 'Create Track', new_track_path(conference_id: @conference),  :action => "Create", :class => "btn btn-primary btn-sm active"%>
            <%= link_to 'Edit Conference', edit_conference_path(@conference) , :class => "btn btn-primary btn-sm active"%>
        <%end%>
    <%end%>
</div>