<%= form_for(paper, html: {multipart: true}) do |f| %>
  <% if paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paper.errors.count, "error") %> prohibited this paper from being saved:</h2>

      <ul>
      <% paper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <% @user = current_user %>
  <div class= "field">
    <%= f.label :title %>
    <br/>
    <%= f.text_field :title %>

  </div>
    <div class="field">
      <%= f.label :abstract %>
      <br/>
      <%= f.text_area :abstract, :cols => "50", :rows => "10" %>
    </div>
  <div class="field">
    <%= f.label :attachment %>
    <br/>
    <%= f.file_field :attachment %>
  </div>

  <div class="field">
    <%= f.hidden_field :author, value: @user.name %>
    <strong>
      Author:
    </strong>
    <%= @user.name %>
  </div>


  <div class="field">

    <%= f.hidden_field :accepted, value: false %>
  </div>

  <div class="actions">
    <%= f.button :submit,name: "track_id", value: params[:track_id], :class => "btn btn-primary btn-md active"%>
  </div>
<% end %>
