<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @paper.title %>
</p>

<p>
  <strong>Doc url:</strong>
  <%= @paper.attachment %>
</p>

<p>
  <strong>Author:</strong>
  <%= @paper.author %>
</p>

<p>
  <strong>Track:</strong>
  <%= @paper.track.name %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @paper.accepted %>
</p>
<p>
<H3>Reviews</H3>
<%= link_to 'Create Review', new_review_path(:paper_id => @paper.id),
            :action => "Create", :class => "btn btn-primary btn-sm active"%>

</p>
<table class="table table-hover">
  <th><td>Score</td><td>Date</td></th>
  <% @paper.reviews.each do |review| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class="list_description">
          <tr>
            <td></td>
            <td><%= review.score %></td>
            <td><%= review.date %></td>
            <td class="list_actions">
              <%= link_to 'View Review', review_path(:paper_id => @paper.id) %>
            </td>
          </tr>
        </td>

      </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>
