<%=session[:user_role]%>
<p id="notice"><%= notice %></p>
<h4 class="section-title">Paper</h4>
<p>
  <strong>Title:</strong>
  <%= @paper.title %>
</p>
<p>
  <strong>Overall Score:</strong>

  <% @total = @paper.reviews.sum(:score).to_f / @paper.reviews.count(:score)%>
  <%=  number_with_precision(@total, :precision => 2)%>

</p>
<p>
  <strong>Abstract:</strong>
  <%= @paper.abstract %>
</p>

<p>
  <strong>Author:</strong>
  <%= @paper.author %>
</p>

<p>
  <strong>Track:</strong>
  <%= @paper.track.name %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @paper.accepted %>
</p>
<p>
  <%= link_to "Download A Copy", @paper.attachment_url %>
</p>

<p>
  <% @user = current_user %>
  <% @roles = session[:user_role]%>

  <% if @roles == "chair" %>
      <%= form_for(@paper) do |f| %>
          <% if @paper.accepted.equal?(false) %>
              <%= f.hidden_field :accepted, value: true %>
              <%= f.submit 'Approve' %>
          <% else %>
              <%= f.hidden_field :accepted, value: false %>
              <%= f.submit 'Un-Approve' %>
          <% end %>
      <% end %>
  <% end %>


</p>

<p>
<h4>Reviews: </h4>
<div>
  <table>
    <tr>
      <td>
        <%  %>
        <%  %>
        <% if @paper.user.id != @user.id %>
        <%= link_to 'Create Review', new_review_path(:paper_id => @paper.id),
            :action => "Create", :class => "btn btn-primary btn-sm active"%>
        <% end %>
      </td>
      <td>
        <% if @paper.reviews.size < 3 %>
            <p>(This paper requires more reviews.)</p>
        <% end %>
      </td>
    </tr>
  </table>
</div>
</p>
<table class="table table-hover">
  <th><td><strong>Score</strong></td><td><strong>Date</strong></td><td><strong>View</strong></td></th>
  <% @paper.reviews.each do |review| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

          <tr>
            <td></td>
            <td><%= review.score %></td>
            <td><%= review.date %></td>
            <td class="list_actions">
              <%= link_to 'View Review', review_path(:paper_id => @paper.id) %>
            </td>
          </tr>


      </tr>
  <% end %>
</table>
<% if @paper.user.id == @user.id %>
<%= link_to 'Edit', edit_paper_path(@paper) %>
<% end %>
<%= link_to 'Back', track_path(@paper.track), :class => "btn btn-primary btn-sm active" %>
