<p id="notice"><%= notice %></p>

<h1>Rebuttles</h1>

<table>
  <thead>
    <tr>
      <th>Reviewid </th>
      <th>Author Rebuttle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rebuttles.each do |rebuttle| %>
      <tr>
        <td><%= rebuttle.reviewID %></td>
        <td><%= rebuttle.authorRebuttle %></td>
        <td><%= link_to 'Show', rebuttle %></td>
        <td><%= link_to 'Edit', edit_rebuttle_path(rebuttle) %></td>
        <td><%= link_to 'Destroy', rebuttle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rebuttle', new_rebuttle_path %>
