<p id="notice"><%= notice %></p>

<p>
  <strong>Review ID:</strong>
  <%= @rebuttle.review_id %>
</p>

<p>
  <strong>AuthorRebuttle:</strong>
  <%= @rebuttle.authorRebuttle %>
</p>

<%= link_to 'Edit', edit_rebuttle_path(@rebuttle),:class => "btn btn-primary btn-md active"  %>
<%= link_to 'Back', review_path(@rebuttle.review_id),:class => "btn btn-primary btn-md active"  %>
