<p id="notice"><%= notice %></p>

<p>
  <strong>Review ID:</strong>
  <%= @rebuttle.review_id %>
</p>

<p>
  <strong>AuthorRebuttle:</strong>
  <%= @rebuttle.authorRebuttle %>
</p>

<%= link_to 'Edit', edit_rebuttle_path(@rebuttle) %> |
<%= link_to 'Back', rebuttles_path %>
