<%= form_for(review) do |f| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :reviewer %>
    <%= f.text_field :reviewer %>
  </div>

  <div class="field">
    <%= f.label :score %>
    <%= f.number_field :score ,max: 5, min: -5 %>
  </div>

  <div class="field">
    <%= f.label :rebuttal %>
    <%= f.text_area :rebuttal, :cols => "50", :rows => "10" %>
  </div>

  <div class="field">
    <%= f.label :confidence %>
    <%= f.number_field :confidence, max: 5, min: -5 %>
  </div>



  <div class="actions">
    <%= f.button :submit , name: "paper_id", value: params[:paper_id], :class => "btn btn-primary btn-md active"%>
  </div>
<% end %>
