<%= form_for(review) do |f| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% @user = current_user %>

  <div>

    <strong>
      Name:
    </strong>
    <%= @user.name %>
  </div>
  <div class="field">
    <%= f.label :date %>
    <br/>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.hidden_field :reviewer, value: @user.name %>
  </div>

  <div class="field">
    <%= f.label :score %>
    <br/>
    <%= f.number_field :score ,max: 5, min: -5 %>
  </div>

  <div class="field">
    <%= f.label "comment" %>
    <br/>
    <%= f.text_area :review, :cols => "50", :rows => "10" %>
  </div>

  <div class="field">
    <%= f.label :confidence %>
    <br/>
    <%= f.number_field :confidence, max: 5, min: -5 %>
  </div>



  <div class="actions">
    <%= f.button :submit , name: "paper_id", value: params[:paper_id], :class => "btn btn-primary btn-md active"%>
  </div>
<% end %>
