<p id="notice"><%= notice %></p>

<p>
  <strong>Score:</strong>
  <%= @review.score %>
</p>

<p>
  <strong>Date:</strong>
  <%= @review.date %>
</p>

<p>
  <strong>Reviewer:</strong>
  <%= @review.reviewer %>
</p>

<p>
  <strong>Score:</strong>
  <%= @review.score %>
</p>

<p>
  <strong>Rebuttal:</strong>
  <%= @review.rebuttal %>
</p>

<p>
  <strong>Confidence:</strong>
  <%= @review.confidence %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %>

<%= link_to 'Back', paper_path(@review.paper_id), :class => "btn btn-primary btn-sm active" %>
