<p id="notice"><%= notice %></p>

<% @user = current_user  %>
<% @paper = @review.paper  %>



<p>
  <strong>Score:</strong>
  <%= @review.score %>
</p>

<p>
  <strong>Date:</strong>
  <%= @review.date %>
</p>

<p>
  <% if @paper.user.id != @user.id  %>
  <strong>Reviewer:</strong>
  <%= @review.reviewer %>
  <% end %>
</p>

<p>
  <strong>Score:</strong>
  <%= @review.score %>
</p>

<p>
  <strong>Confidence:</strong>
  <%= @review.confidence %>
</p>

<p>
  <strong>Review:</strong>
  <%= @review.review %>
</p>
<% if !@review.rebuttle.equal?(nil) %>
  <% @review.rebuttle.each do |rebuttle| %>
    <p>
      <strong>Author's Rebuttal:</strong>
        <%= rebuttle.authorRebuttle %>
    </p>
    <% end %>

<% end %>

<% if @paper.user.id == @user.id %>

<%= link_to 'Rubute', new_rebuttle_path(:rID => @review.id), :action => "Create",
            :class => "btn btn-primary btn-sm active" %>
<% end %>

<% if @review.user_id == @user.id %>
<%= link_to 'Edit', edit_review_path(@review), :class => "btn btn-primary btn-sm active"  %>
<% end %>
<%= link_to 'Back', paper_path(@review.paper_id), :class => "btn btn-primary btn-sm active" %>
