<p id="notice"><%= notice %></p>

<% @user = current_user  %>
<% @paper = @review.paper  %>



<p>
  <strong>Score:</strong>
  <%= @review.score %>
</p>

<p>
  <strong>Date:</strong>
  <%= @review.date %>
</p>

<p>
  <% if @paper.user.id != @user.id  %>
  <strong>Reviewer:</strong>
  <%= @review.reviewer %>
  <% end %>
</p>

<p>
  <strong>Score:</strong>
  <%= @review.score %>
</p>

<p>
  <strong>Rebuttal:</strong>
  <%= @review.rebuttal %>
</p>

<p>
  <strong>Confidence:</strong>
  <%= @review.confidence %>
</p>


<% if @review.user_id == @user.id %>
<%= link_to 'Edit', edit_review_path(@review) %>
<% end %>
<%= link_to 'Back', paper_path(@review.paper_id), :class => "btn btn-primary btn-sm active" %>
